<div class="content-page">
  <div class="content">
    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- Customer List -->
              <div class="card card-primary card-outline">
                <div class="card-header" style="display: flex;flex-direction: row;justify-content: space-between;">
                  <h5 class="card-title">Khách hàng</h5>
                  <div class="card-body-action-right">
                    <div class="float-end">
                      <form class="form-inline ml-0 ml-md-3" id="searchForm" action="/account/list-user" method="GET">
                          <div class="input-group input-group-sm">
                              <input class="form-control form-control-navbar" name="search" type="search" id="searchInput" placeholder="Tìm kiếm" aria-label="Search">
                              <div class="input-group-append">
                                  <button class="btn btn-navbar" type="submit" id="searchButton">
                                      <i class="fas fa-search"></i>
                                  </button>
                              </div>
                          </div>
                      </form>
                  </div>
                    <div class="dropdown float-end">
                      <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownCategoryButton"
                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          Lọc
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownCategoryButton"
                          data-popper-placement="bottom-start"
                          style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 40px, 0px);">
                          <a class="dropdown-item" data-type="">Tất cả</a>
                          <a class="dropdown-item" data-type="ACTIVE">Đang hoạt động</a>
                          <a class="dropdown-item" data-type="INACTIVE">Ngừng hoạt động</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Trạng thái</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% let index=1; %>
                        <% listAccountUserData.accounts.forEach((row)=> { %>
                          <tr onclick="window.location.href='/account/detail-user/<%= row._id %>';">
                            <td>
                              <%= index %>
                            </td>
                            <td style="height: 100px;">
                              <img src="<%= row.avatarUrl %>" alt="Account Image" height="100" width="100"
                                style="margin-right: 10px; object-fit: contain;">
                              <%= row.userName %>
                            </td>
                            <td>
                              <%= row.email %>
                            </td>
                            <td>
                              <%= row.phoneNumber %>
                            </td>
                            <td>
                              <% if (row.isDeleted) { %>
                                <div style="display: flex; flex-direction: row; align-items: center;">
                                  <div
                                    style="width: 10px;height: 10px;background: gray;border-radius: 10px; margin-right: 5px;">
                                  </div>
                                  Ngừng hoạt động
                                </div>

                                <% } else { %>
                                  <div style="display: flex; flex-direction: row; align-items: center;">
                                    <div
                                      style="width: 10px;height: 10px;background: green;border-radius: 10px; margin-right: 5px;">
                                    </div>
                                    Đang hoạt động
                                  </div>

                                  <% } %>
                            </td>
                          </tr>
                          <% index++; %>
                            <% }) %>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <ul class="pagination justify-content-end" id="pagination">
            <li class="page-item" id="previousPage">
                <a class="page-link" href="/account/list-user?page=<%= currentPage - 1 %>&limit=<%= limit %>" tabindex="-1" tabindex="-1">Previous</a>
            </li>
            <% for (let i=1; i <=totalPages; i++) { %>
                <li class="page-item <%= currentPage  === i ? 'active' : '' %>">
                    <a class="page-link <%= currentPage === i ? 'active' : '' %>"
                        href="/account/list-user?page=<%= i %>&limit=<%= limit %>" id="page<%= i %>">
                        <%= i %>
                    </a>
                </li>
            <% } %>
            <li class="page-item" id="nextPage">
              <% if (totalPages <= 1) { %>
                <a class="page-link" href="#">Next</a>
              <% } else {%>
                <a class="page-link" href="/account/list-user?page=<%= currentPage + 1 %>&limit=<%= limit %>">Next</a>
                <% } %>
            </li>
        </ul>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  </div>
</div>
<!-- ./wrapper -->
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const urlParams = new URLSearchParams(window.location.search);
    const selectedType = urlParams.get('type');

    const dropdownTypeButton = document.querySelector('#dropdownCategoryButton');
    const dropdownTypeMenu = document.querySelector('#dropdownCategoryButton + .dropdown-menu');

    if (selectedType) {
      const typeItems = dropdownTypeMenu.querySelectorAll('a.dropdown-item');
      typeItems.forEach((item) => {
        if (item.getAttribute('data-type') === selectedType) {
          if (selectedType == "ACTIVE") {
            dropdownTypeButton.textContent = "Đang hoạt động";
          } else if (selectedType == "INACTIVE") {
            dropdownTypeButton.textContent = "Ngừng hoạt động";
          }
          item.classList.add('active');
        }
      });
    } else {
      dropdownTypeButton.textContent = "Tất cả";
    }

    dropdownTypeMenu.addEventListener('click', function (e) {
      if (e.target && e.target.matches('a.dropdown-item')) {
        const selectedType = e.target.getAttribute('data-type');
        let url = new URL(window.location.href);
        url.searchParams.set('type', selectedType);
        window.location.href = url.toString();
      }
    });
  });


</script>