<div class="content-page">
    <div class="content">
        <div class="wrapper">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="card order-detail-card">
                                    <div class="card-header">
                                        <h3 class="card-title">Chi Tiết Đơn Hàng</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="info-label">Tên Người Mua:</div>
                                                <div class="info-value"><%= orderData.orders.accounts.name %></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="info-label">Địa Chỉ:</div>
                                                <div class="info-value"><%= orderData.orders.shipping_addresses.address %></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="info-label">Số Điện Thoại:</div>
                                                <div class="info-value"><%= orderData.orders.shipping_addresses.phoneNumber %></div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="info-label">Thời Gian Đặt Hàng:</div>
                                                <% const formatDate=(dateString)=> {
                                                    const date = new Date(dateString);
                                                    const day = date.getDate();
                                                    const month = date.getMonth() + 1;
                                                    const year = date.getFullYear();
                                                    return `${day}/${month}/${year}`;
                                                    };
                                                    %>
                                                <div class="info-value">
                                                    <%= formatDate(orderData.orders.orderDate) %></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="info-label">Phương Thức Thanh Toán:</div>
                                                <div class="info-value"><%= orderData.orders.paymentMethod %></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="info-label">Trạng Thái Đơn Hàng:</div>
                                                <select class="form-control" id="orderStatusSelect">
                                                   
                                                    <option value="PENDING">Xác nhận đơn hàng</option>
                                                    <option value="SHIPPING">Giao hàng</option>
                                                    <option value="DELIVERED">Đã giao</option>
                                                    <option value="CANCELLED">Hủy</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-12">
                                                <% orderData.orders.order_items.forEach((row)=> { %>
                                                <div class="row product-item">
                                                    <div class="product-details col-md-2">
                                                        <img src="<%= row.products.photoUrls[0] %>" alt="Product Image"
                                                            class="product-image">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h5 class="product-nameprd"><%= row.products.name %></h5>
                                                        <p class="product-discount"><%= row.quantity %></p> 
                                                        <p class="product-price"><%= row.products.price %> VND</p>
                                                        <p class="product-discount">450,000 VND</p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <h5 class="product-total">900,000 VND</h5>
                                                    </div>
                                                </div>  
                                                <% }) %>
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-12 text-right">
                                                <h4>Tổng Tiền: 1,185,000 VND</h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
        </div>
        <!-- ./wrapper -->
    </div>
</div>