<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="wrapper">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header" style="display: flex;flex-direction: row;justify-content: space-between;">
                                        <h5 class="card-title">Danh sách đơn hàng</h5>
                                        <div class="card-body-action-right">
                                            <div class="dropdown float-end">
                                                <div class="dropdown">
                                                    <button class="btn btn-info dropdown-toggle" type="button"
                                                        id="dropdownCategoryButton" data-bs-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="true">
                                                        Tất cả
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownCategoryButton"
                                                        data-popper-placement="bottom-start"
                                                        style=" position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 40px, 0px);">
                                                        <a class="dropdown-item" data-status>Tất cả</a>
                                                        <a class="dropdown-item" data-status="PENDING">Chờ xác nhận</a>
                                                        <a class="dropdown-item" data-status="SHIPPING">Chờ giao hàng</a>
                                                        <a class="dropdown-item" data-status="DELIVERED">Đã giao</a>
                                                        <a class="dropdown-item" data-status="CANCELLED">Đã hủy</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="float-end">
                                                <form class="form-inline ml-0 ml-md-3" id="searchForm" action="/order/list-order" method="GET">
                                                    <div class="input-group input-group-sm">
                                                        <input class="form-control form-control-navbar" name="code" type="search" id="searchInput" placeholder="Search" aria-label="Search">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-navbar" type="submit" id="searchButton">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Mã Đơn Hàng</th>
                                                    <th>Ngày Mua</th>
                                                    <th>Tên khách hàng</th>
                                                    <th>Số điện thoại</th>
                                                    <th>Tổng tiền</th>
                                                    <th>Địa chỉ giao hàng</th>
                                                    <th>Trạng Thái</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% let index=1; %>
                                                    <% listOrderData.forEach((row)=> { %>
                                                        <tr onclick="window.location.href='/order/detail-order/<%= row._id %>';"
                                                            style="cursor: pointer;">
                                                            <td>
                                                                <%= index %>
                                                            </td>
                                                            <td>
                                                                <%= row.code %>
                                                            </td>
                                                            <td>
                                                                <% const formatDate=(dateString)=> {
                                                                    const date = new Date(dateString);
                                                                    const day = date.getDate();
                                                                    const month = date.getMonth() + 1;
                                                                    const year = date.getFullYear();
                                                                    return `${day}/${month}/${year}`;
                                                                    };
                                                                    %>
                                                                    <%= formatDate(row.orderDate) %>
                                                            </td>
                                                            <td>
                                                                <%= row.account.name %>
                                                            </td>
                                                            <td>
                                                                0<%= row.account.phoneNumber %>
                                                            </td>
                                                            <td>
                                                                <% let sum=0; %>
                                                                    <% row.orderItems.forEach((row)=> { %>
                                                                        <% sum +=(row.quantity * row.product.price); %>
                                                                            <% }); %>
                                                                                <% if(row.discount===null){ %>
                                                                                    <%= sum %>$
                                                                                        <% }else{ %>
                                                                                            <% if(row.discount.discountType=="PERCENT"){ %>
                                                                                                <%= sum - (sum * row.discount.discountValue / 100) %>$
                                                                                                    <% }else{ %>
                                                                                                        <%= sum - row.discount.discountValue %>$
                                                                                                    <% } %>
                                                                                            <% } %>

                                                            </td>
                                                            <td>
                                                                <%= row.shippingAddress.address %>
                                                            </td>
                                                            <td>
                                                                <% if (row.status=='DELIVERED' ) { %>
                                                                    Đã giao hàng
                                                                    <% } else if (row.status=='SHIPPING' ){ %>
                                                                        Chờ giao hàng
                                                                        <% } else if (row.status=='CANCELLED' ){ %>
                                                                            Đã Hủy
                                                                            <% }else { %>
                                                                                Chờ xác nhận
                                                                                <% } %>

                                                            </td>
                                                        </tr>
                                                        <% index++; %>
                                                            <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <ul class="pagination justify-content-end" id="pagination">
            <li class="page-item" id="previousPage">
                <a class="page-link" href="/order/list-order?page=<%= currentPage - 1 %>&limit=<%= limit %>" tabindex="-1" tabindex="-1">Previous</a>
            </li>
            <% for (let i=1; i <=totalPages; i++) { %>
                <li class="page-item <%= currentPage  === i ? 'active' : '' %>">
                    <a class="page-link <%= currentPage === i ? 'active' : '' %>"
                        href="/order/list-order?page=<%= i %>&limit=<%= limit %>" id="page<%= i %>">
                        <%= i %>
                    </a>
                </li>
            <% } %>
            <li class="page-item" id="nextPage">
                <a class="page-link" href="/order/list-order?page=<%= currentPage + 1 %>&limit=<%= limit %>">Next</a>
            </li>
        </ul>

    </div>
    <!-- ./wrapper -->
</div>

</div>

<script>
    const baseURL = window.location.protocol + '//' + window.location.host;
    const dropdownMenu = document.querySelector(".dropdown-menu");
    dropdownMenu.querySelectorAll("a").forEach((item) => {
        item.addEventListener("click", (event) => {
            event.preventDefault();
            const status = item.getAttribute("data-status");
            window.location.href = `${baseURL}/order/list-order?status=${status}`;
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const dropdownStatusButton = document.querySelector('#dropdownCategoryButton');
        const dropdownStatusMenu = document.querySelector('#dropdownCategoryButton + .dropdown-menu');
        const selectedStatus = urlParams.get('status');
        console.log('selectedStatus: ', selectedStatus);
        if (selectedStatus) {
            const statusItems = dropdownStatusMenu.querySelectorAll('a.dropdown-item');
            statusItems.forEach((item) => {
                if (item.getAttribute('data-status') === selectedStatus) {
                    if (selectedStatus === "PENDING") {
                        dropdownStatusButton.textContent = "Chờ xác nhận";
                    } else if (selectedStatus === "SHIPPING") {
                        dropdownStatusButton.textContent = "Chờ giao hàng";
                    }
                    else if (selectedStatus === "DELIVERED") {
                        dropdownStatusButton.textContent = "Đã giao";
                    }
                    else if (selectedStatus === "CANCELLED") {
                        dropdownStatusButton.textContent = "Đã huỷ";
                    }
                    item.classList.add('active');
                }
            });
        } else {
            dropdownStatusButton.textContent = "Tất cả";
        }
    });

</script>




