<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="wrapper">
            <div class="content-wrapper">
                <div id="loading" class="loading-container">
                    <div class="loading-spinner">
                        <i class="fas fa-spinner fa-spin"></i>
                    </div>
                </div>

                <div id="dialog" class="dialog-container">
                    <div class="dialog-content">
                        <span id="dialog-message"></span>
                        <button onclick="hideDialog()">Ok</button>
                    </div>
                </div>
                <!-- Content Header (Page header) -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary card-outline">
                                <div class="card-header"
                                    style="display: flex;flex-direction: row;justify-content: space-between;">
                                    <h5 class="card-title">Thông báo</h5>
                                    <div class="card-body-action-right">
                                        <div class="">
                                            <form class="form-inline ml-0 ml-md-3" id="searchForm"
                                                action="/notify/managerNotify" method="GET">
                                                <div class="input-group input-group-sm">
                                                    <input class="form-control form-control-navbar" name="search"
                                                        type="search" id="searchInput" placeholder="Search"
                                                        aria-label="Search">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-navbar" type="submit" id="searchButton">
                                                            <i class="fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="">
                                            <button class="btn btn-primary" id="create-notify-btn">
                                                Tạo thông báo
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Main content -->
                                <div class="card-body">
                                    <table class="table table-tripped">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Tiêu đề</th>
                                                <th>Nội dung</th>
                                                <th>Ngày tạo</th>
                                                <th>Loại</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% let index=1; %>
                                                <% listNotify.forEach((row)=> { %>
                                                    <tr data-id="<%= row._id %>" data-title="<%= row.title %>"
                                                        data-message="<%= row.message %>"
                                                        data-createdAt="<%= row.createdAt %>"
                                                        data-type="<%= row.type %>">
                                                        <% const formatDate=(dateString)=> { const date = new
                                                            Date(dateString); const day = date.getDate(); const
                                                            month = date.getMonth() + 1; const year =
                                                            date.getFullYear(); return `${day}/${month}/${year}`; };
                                                            %>

                                                            <td>
                                                                <%= index %>
                                                            </td>
                                                            <td>
                                                                <%= row.title %>
                                                            </td>
                                                            <td>
                                                                <%= row.message %>
                                                            </td>
                                                            <td class="date">
                                                                <%= formatDate(row.createdAt) %>
                                                            </td>
                                                            <td>
                                                                <% if (row.type=='PROMOTION' ) { %> Khuyến mãi <% } else
                                                                        if (row.type=='EVENT' ){ %> Sự kiện <% } else if
                                                                            (row.type=='UPDATE' ){ %> Cập nhật <% } %>
                                                            </td>
                                                            <td>
                                                                <i class="edit-icon mr-3 fa fa-pen"></i>
                                                                <i class="delete-icon fa fa-trash"></i>
                                                            </td>
                                                    </tr>
                                                    <% index++; %>
                                                        <% }) %>
                                        </tbody>
                                        <!-- <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Sale sap san 50$</td>
                                                <td>Khong mua hoi phi</td>
                                                <td>2023-01-15 11:45:00</td>
                                                <td>Su kien</td>
                                                <td>
                                                    <i class="edit-icon mr-3 fa fa-pen"></i>
                                                    <i class="delete-icon fa fa-trash"></i>
                                                </td>
                                            </tr>
                                        </tbody> -->
                                    </table>
                                </div>
                                <ul class="pagination justify-content-end" id="pagination">
                                    <li class="page-item" id="previousPage">
                                        <a class="page-link"
                                            href="/notify/managerNotify?page=<%= currentPage - 1 %>&limit=<%= limit %>"
                                            tabindex="-1">Previous</a>
                                    </li>
                                    <% for (let i=1; i <=totalPages; i++) { %>
                                        <li class="page-item <%= currentPage  === i ? 'active' : '' %>">
                                            <a class="page-link <%= currentPage === i ? 'active' : '' %>"
                                                href="/notify/managerNotify?page=<%= i %>&limit=<%= limit %>"
                                                id="page<%= i %>">
                                                <%= i %>
                                            </a>
                                        </li>
                                        <% } %>

                                            <li class="page-item" id="nextPage">
                                                <% if (totalPages <=1) { %>
                                                    <a class="page-link" href="#">Next</a>
                                                    <% } else {%>
                                                        <a class="page-link"
                                                            href="/notify/managerNotify?page=<%= currentPage + 1 %>&limit=<%= limit %>">Next</a>
                                                        <% } %>
                                            </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Create Notify Modal -->
                        <div class="modal fade" id="createNotifyModal" tabindex="-1" role="dialog"
                            aria-labelledby="createNotifyModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="createNotifyModalLabel">
                                            Tạo thông báo
                                        </h5>
                                    </div>
                                    <div class="modal-body">
                                        <form id="newForm">
                                            <div class="form-group">
                                                <label for="notifyName">Tiêu đề</label>
                                                <input type="text" class="form-control" id="notifyName" />
                                            </div>
                                            <div class="form-group">
                                                <label for="notifyContent">Nội dung</label>
                                                <input type="text" class="form-control" id="notifyContent" />
                                            </div>
                                            <div class="form-group">
                                                <label for="notifyType">Loại</label>
                                                <select class="form-control" id="notifyType">
                                                    <option value="EVENT">Sự kiện</option>
                                                    <option value="PROMOTION">Khuyến mãi</option>
                                                    <option value="UPDATE">Cập nhật</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            id="btn-cancel-add">
                                            Hủy
                                        </button>
                                        <button type="submit" class="btn btn-primary" id="saveNotify">
                                            Lưu
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Edit Notify Modal -->
                        <div class="modal fade" id="editNotifyModal" tabindex="-1" role="dialog"
                            aria-labelledby="editNotifyModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editNotifyModalLabel">
                                            Chỉnh sửa thông báo
                                        </h5>
                                    </div>
                                    <input type="text" class="form-control d-none" id="notifyId" />
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="updateNotifyTitle">Tiêu đề</label>
                                                <input type="text" class="form-control" id="updateNotifyTitle" />
                                            </div>
                                            <div class="form-group">
                                                <label for="updateNotifyContent">Nội dung</label>
                                                <input type="text" class="form-control" id="updateNotifyContent" />
                                            </div>
                                            <div class="form-group">
                                                <label for="updateNotifyType">Loại</label>
                                                <select class="form-control" id="updateNotifyType">
                                                    <option value="EVENT">Sự kiện</option>
                                                    <option value="PROMOTION">Khuyến mãi</option>
                                                    <option value="UPDATE">Cập nhật</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            id="cancel-update-btn">
                                            Hủy
                                        </button>
                                        <button type="button" class="btn btn-primary" id="updateNotify">
                                            Cập nhật
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Promotion Confirmation Modal -->
    <div class="modal fade" id="deleteNotifyModal" tabindex="-1" role="dialog" aria-labelledby="deleteNotifyModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteNotifyModalLabel">Xóa thông báo</h5>
                </div>
                <input type="text" class="form-control d-none" id="deleteNotifyId" />
                <div class="modal-body">Bạn có chắc chắn muốn xóa thông báo này?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="deleteNotifyCancel">
                        Hủy
                    </button>
                    <button type="button" class="btn btn-danger" id="deleteNotifyConfirm">
                        Đồng ý!
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Create Promotion modal
        $("#create-notify-btn").on("click", function () {
            $("#createNotifyModal").modal("show");
        });

        $("#btn-cancel-add").on("click", function () {
            $("#createNotifyModal").modal("hide");
        });

        $("#saveNotify").on("click", function () {
            const baseURL = window.location.protocol + "//" + window.location.host;
            let isSuccess = false;

            var objectJson = {};
            const notifyTitle = document.getElementById("notifyName").value;
            objectJson.title = notifyTitle;
            const notifyContent = document.getElementById("notifyContent").value;
            objectJson.message = notifyContent;
            const notifyType = document.getElementById("notifyType").value;
            objectJson.type = notifyType;
            console.log(`[webNotify] new: objectJson -> ${objectJson}`);
            showLoading();

            fetch(`${baseURL}/api/notify`, {
                method: "POST",
                body: JSON.stringify(objectJson),
                headers: {
                    "Content-Type": "application/json",
                },
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then((body) => {
                    isSuccess = true;
                    hideLoading();
                    showDialog(body.message);
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                })
                .catch((error) => {
                    isSuccess = false;
                    hideLoading();
                    showDialog("Lỗi: " + error.message);
                    console.error("Error:", error);
                });
        });

        // Edit Promotion modal
        $(".edit-icon").on("click", function () {
            const row = $(this).closest("tr");
            const id = row.data("id");
            const title = row.data("title");
            const content = row.data("message");
            const notifyType = row.data("type");

            $("#editNotifyModal #notifyId").val(id);
            $("#editNotifyModal #updateNotifyTitle").val(title);
            $("#editNotifyModal #updateNotifyContent").val(content);
            $("#editNotifyModal #updateNotifyType").val(notifyType);

            $("#editNotifyModal").modal("show");
        });

        $("#updateNotify").on("click", function () {
            const baseURL = window.location.protocol + "//" + window.location.host;
            let isSuccess = false;

            var objectJson = {};
            const notifyId = document.getElementById("notifyId").value.trim();
            const notifyTitle = document.getElementById("updateNotifyTitle").value;
            objectJson.title = notifyTitle;
            const notifyContent = document.getElementById("updateNotifyContent").value;
            objectJson.message = notifyContent;
            const notifyType = document.getElementById("updateNotifyType").value;
            objectJson.type = notifyType;
            console.log(`[webNotify] update: objectJson -> ${objectJson}`);
            showLoading();

            fetch(`${baseURL}/api/notify/${notifyId}/update`, {
                method: "PUT",
                body: JSON.stringify(objectJson),
                headers: {
                    "Content-Type": "application/json",
                },
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then((body) => {
                    isSuccess = true;
                    hideLoading();
                    showDialog(body.message);
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                })
                .catch((error) => {
                    isSuccess = false;
                    hideLoading();
                    showDialog("Lỗi: " + error.message);
                    console.error("Error:", error);
                });
        });

        $("#cancel-update-btn").on("click", function () {
            $("#editNotifyModal").modal("hide");
        });

        // Delete Promotion confirmation modal
        $(".delete-icon").on("click", function () {
            const row = $(this).closest('tr');
            const id = row.data('id');
            $('#deleteNotifyModal #deleteNotifyId').val(id);
            $("#deleteNotifyModal").modal("show");
        });

        $("#deleteNotifyCancel").on("click", function () {
            $("#deleteNotifyModal").modal("hide");
        });

        $("#deleteNotifyConfirm").on("click", function () {
            const baseURL = window.location.protocol + "//" + window.location.host;
            let isSuccess = false;

            const notifyId = document.getElementById("deleteNotifyId").value.trim();
            showLoading();

            fetch(`${baseURL}/api/notify/${notifyId}`, {
                method: "DELETE",
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then((body) => {
                    isSuccess = true;
                    hideLoading();
                    showDialog(body.message);
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                })
                .catch((error) => {
                    isSuccess = false;
                    hideLoading();
                    showDialog("Lỗi: " + error.message);
                    console.error("Error:", error);
                });
        });
    </script>

    <script>
        function showLoading() {
            document.getElementById("loading").style.display = "block";
        }

        function hideLoading() {
            document.getElementById("loading").style.display = "none";
        }

        function showDialog(message) {
            document.getElementById("dialog-message").textContent = message;
            document.getElementById("dialog").style.display = "block";
        }

        function hideDialog() {
            document.getElementById("dialog").style.display = "none";
            if (isSuccess) {
                isSuccess = false;
            }
        }
    </script>
</div>