<div class="content-page">
  <div class="content">
    <!-- Start Content-->
    <div class="container-fluid">
      <div class="row">
        <section class="content">
          <div id="loading" class="loading-container">
            <div class="loading-spinner">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
        </div>

        <div id="dialog" class="dialog-container">
            <div class="dialog-content">
                <span id="dialog-message"></span>
                <button onclick="hideDialog()">Ok</button>
            </div>
        </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h5 class="card-title">Thông Tin Sản Phẩm</h5>
                  </div>
                  <div class="col-lg-12 d-none">
                    <p id="productID"><%= productData._id %></p>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form id="uploadForm">
                   
                    <div class="card-body">
                      <div class="form-group">
                        <label for="productImages">Hình Ảnh Sản Phẩm</label>
                        <div class="image-container" id="imageContainer" disable>
                          <!-- Hiển thị hình ảnh sản phẩm -->
                          <% productData.photoUrls.forEach((row)=> { %>
                          <img src="<%= row %>" alt="Product Image" onclick="selectImage(event)">
                          <% }) %>
                        </div>
                        <input type="file" class="form-control" id="photoUrls" multiple
                        name="files" accept="image/*">
                      </div>
                      <div class="row">
                        <div class="form-group col-md-3">
                          <label for="brandId">Brand</label>
                          <select class="form-control" id="brandId" disabled>
                            <% Object.values(listBrandData).forEach(function(brand) { %>
                              <% if (brand.name === productData.brand.name) { %>
                                <option value="<%= brand._id %>" selected><%= brand.name %></option>
                              <% } else { %>
                                <option value="<%= brand._id %>"><%= brand.name %></option>
                              <% } %>
                            <% }); %>
                          </select>
                        </div>
                        <div class="form-group col-md-9">
                          <label for="name">Tên Sản Phẩm</label>
                          <input type="text" class="form-control" id="name" name="name" value="<%= productData.name %>" disabled>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="description">Mô Tả</label>
                        <textarea class="form-control" id="description" rows="3" disabled><%= productData.description %></textarea>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-4">
                          <label for="price">Giá</label>
                          <input type="number" class="form-control" id="price" value="<%= productData.price %>" disabled>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="quantity">Số Lượng</label>
                          <input type="number" class="form-control" id="quantity" value="<%= productData.quantity %>" disabled>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="size">Kích Thước</label>
                          <input type="number" class="form-control" id="size" value="<%= productData.size %>" disabled>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="machineCategory">Machine Category</label>
                          <select class="form-control" id="machineCategory" disabled>
                            <% Object.values(machineCategories).forEach(function(category) { %>
                              <% if (category === productData.machineCategory) { %>
                                <option value="<%= category %>" selected><%= category %></option>
                              <% } else { %>
                                <option value="<%= category %>"><%= category %></option>
                              <% } %>
                            <% }); %>
                          </select>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="wireCategory">Wire Category</label>
                          <select class="form-control" id="wireCategory" disabled>
                            <% Object.values(WireCategories).forEach(function(category) { %>
                              <% if (category === productData.wireCategory) { %>
                                <option value="<%= category %>" selected><%= category %></option>
                              <% } else { %>
                                <option value="<%= category %>"><%= category %></option>
                              <% } %>
                            <% }); %>
                          </select>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer text-right">
                      <button type="button" class="btn btn-success" id="deleteButton">Delete</button>
                      <button type="button" class="btn btn-warning" id="editButton">Edit</button>
                      <a href="#">
                        <button type="submit" class="btn btn-success" id="saveButton" style="display: none;">Save</button>
                      </a>
                      <button type="button" class="btn btn-secondary" id="cancelButton"
                        style="display: none;">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- end row -->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- content -->
</div>

<script>
  $(document).ready(function () {
    $('#editButton').on('click', function () {
      $(this).hide();
      $('#deleteButton').hide();
      $('#saveButton').show();
      $('#cancelButton').show();
      $('#brandId, #name, #description, #price, #quantity, #size, #machineCategory, #wireCategory').prop('disabled', false);
      $('#productImages').show();
    });

    $('#cancelButton').on('click', function () {
      $(this).hide();
      $('#saveButton').hide();
      $('#deleteButton').show();
      $('#editButton').show();
      $('#brandId, #name, #description, #price, #quantity, #size, #machineCategory, #wireCategory').prop('disabled', true);
      $('#productImages').hide();
    });

    $('#productImages').on('change', function () {
      const imageContainer = $('#imageContainer');
      imageContainer.empty();
      Array.from(this.files).forEach(file => {
        const reader = new FileReader();
        reader.onload = function (e) {
          const img = $('<img>').attr('src', e.target.result);
          imageContainer.append(img);
        }
        reader.readAsDataURL(file);
      });
    });
  });
</script>

<script>
  const baseURL = window.location.protocol + '//' + window.location.host;
  var isSuccess = false;
  const form = document.getElementById('uploadForm');
  form.addEventListener('submit', function (event) {
       event.preventDefault();
      const formData = new FormData();
      const productID = document.getElementById('productID').textContent;
      console.log(`[web] updateProduct: productID -> ${productID}`);
      const brandID = document.getElementById('brandId').value;
      console.log(`[web] updateProduct: brandID -> ${brandID}`);
      formData.append('brandId', brandID);

      const productName = document.getElementById("name").value;
      formData.append('name', productName)

      const productDescription = document.getElementById("description").value;
      formData.append('description', productDescription)

      const fileProductImage = document.getElementById('photoUrls');
      const fileMedias = fileProductImage.files;
      for (let i = 0; i < fileMedias.length; i++) {
          console.log(`[web] updateProduct: fileMedias -> ${fileMedias[i]}`);
          formData.append('photoUrls', fileMedias[i]);
      }

      const productPrice = document.getElementById("price").value;
      formData.append('price', productPrice);

      const productQuantity = document.getElementById("quantity").value;
      formData.append('quantity', productQuantity);

      const productSize = document.getElementById("size").value;
      formData.append('size', productSize);

      const productMachineCategory = document.getElementById('machineCategory').value;
      console.log(`[web] updateProduct: machineCategory -> ${productMachineCategory}`);
      formData.append('machineCategory', productMachineCategory);

      const productWireCategory = document.getElementById('wireCategory').value;
      console.log(`[web] updateProduct: wireCategory -> ${productWireCategory}`);
      formData.append('wireCategory', productWireCategory);

      console.log(`[web] updateProduct: formData -> ${JSON.stringify(formData)}`);
      showLoading();
      fetch(`${baseURL}/product/update-product/${productID}`, {
          method: "PUT",
          body: formData,
      })
          .then((response) => {
              if (!response.ok) {
                  throw new Error(`HTTP error! Status: ${response.status}`);
              }
              return response.json();
          })
          .then((body) => {
              isSuccess = true;
              hideLoading();
              showDialog(body.message);
              setTimeout(() => {
              window.location.href = baseURL + '/product/list-products';
              }, 1300);
          })
          .catch((error) => {
              isSuccess = false;
              hideLoading();
              showDialog("Lỗi: " + error.message);
              console.error("Error:", error);
          });
  });

  function showLoading() {
      document.getElementById("loading").style.display = "block";
  }

  function hideLoading() {
      document.getElementById("loading").style.display = "none";
  }

  function showDialog(message) {
      document.getElementById("dialog-message").textContent = message;
      document.getElementById("dialog").style.display = "block";
  }

  function hideDialog() {
      document.getElementById("dialog").style.display = "none";
      if (isSuccess) {
          form.reset();
          isSuccess = false;
      }
  }

</script>