<div class="content-page">
  <div class="content">
    <!-- Start Content-->
    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- Customer List -->
              <div class="card card-primary card-outline">
                <div class="card-header" style="display: flex;flex-direction: row;justify-content: space-between;">
                  <h5 class="card-title">Sản phẩm</h5>
                  <div class="card-body-action-right">
                    <div class="dropdown float-end">
                      <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownCategoryButton"
                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          Thương hiệu
                        </button>
                        <div class="dropdown-menu dropdown-brand" aria-labelledby="dropdownCategoryButton"
                          data-popper-placement="bottom-start"
                          style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 40px, 0px);">
                          <a class="dropdown-item" data-brand="">Tất cả</a>
                          <% listBrandData.forEach((row)=> { %>
                            <a class="dropdown-item" data-brand="<%= row.name %>">
                              <%= row.name %>
                            </a>
                            <% }); %>
                        </div>
                      </div>
                    </div>
                    <div class="dropdown float-end">
                      <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          Sắp xếp
                        </button>
                        <div class="dropdown-menu dropdown-sort" aria-labelledby="dropdownMenuButton"
                          data-popper-placement="bottom-start" style="
                            position: absolute;
                            inset: 0px auto auto 0px;
                            margin: 0px;
                            transform: translate3d(0px, 40px, 0px);
                          ">
                          <a class="dropdown-item" data-status="default">Mặc định</a>
                          <a class="dropdown-item" data-status="asc">Giá tăng dần</a>
                          <a class="dropdown-item" data-status="desc">Giá giảm dần</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Thương hiệu</th>
                        <th>Giá</th>
                        <th>Tồn kho</th>
                        <th>Đã bán</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% let index=1; %>
                        <% listProductData.forEach((row)=> { %>
                          <tr onclick="window.location.href='/product/detail-products/<%= row._id %>';"
                            style="cursor: pointer;">
                            <td>
                              <%= index %>
                            </td>
                            <td>
                              <img src="<%= row.photoUrls[0] %>" alt="Product Image" height="100" width="100"
                                style="margin-right: 10px; object-fit: contain;">
                              <%= row.name %>
                            </td>
                            <td>
                              <%= row.brand.name %>
                            </td>
                            <td>
                              <%= row.price %>$
                            </td>
                            <td>
                              <%= row.quantity %>
                            </td>
                            <td>
                              <%= row.totalSold %>
                            </td>
                          </tr>
                          </a>
                          <% index++; %>
                            <% }) %>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
  </div>
  <!-- end row -->
</div> -->
<!-- container-fluid -->
</div>
<!-- content -->
</div>

<script>
  const baseURL = window.location.protocol + '//' + window.location.host;
  const dropdownMenu = document.querySelector("#dropdownMenuButton + .dropdown-menu");
  dropdownMenu.querySelectorAll("a").forEach((item) => {
    item.addEventListener("click", (event) => {
      event.preventDefault();
      const sortBy = item.getAttribute("data-status");
      let url = new URL(window.location.href);
      url.searchParams.set('sortBy', sortBy);
      window.location.href = url.toString();
    });
  });

  const urlParams = new URLSearchParams(window.location.search);
  const selectedBrand = urlParams.get('brandName');
  if (selectedBrand) {
    const dropdownButton = document.getElementById('dropdownCategoryButton');
    const dropdownItems = document.querySelectorAll('.dropdown-brand a.dropdown-item');

    dropdownItems.forEach(item => {
      if (item.getAttribute('data-brand') === selectedBrand) {
        dropdownButton.textContent = item.textContent;
      }
    });
  }

  const selectedSort = urlParams.get('sortBy');
  if (selectedSort) {
    const dropdownMenuButton = document.getElementById('dropdownMenuButton');
    const dropdownMenuItems = document.querySelectorAll('.dropdown-sort a.dropdown-item');

    dropdownMenuItems.forEach(item => {
      if (item.getAttribute('data-status') === selectedSort) {
        dropdownMenuButton.textContent = item.textContent;
      }
    });
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const dropdownBrandMenu = document.querySelector('.dropdown-menu');
    dropdownBrandMenu.addEventListener('click', function (e) {
      if (e.target && e.target.matches('a.dropdown-item')) {
        const selectedBrand = e.target.getAttribute('data-brand');
        let url = new URL(window.location.href);
        url.searchParams.set('brandName', selectedBrand);
        window.location.href = url.toString();
      }
    });
  });
</script>