<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <div id="brandListContainer" class="row">
                <div id="loading" class="loading-container">
                    <div class="loading-spinner">
                        <i class="fas fa-spinner fa-spin"></i>
                    </div>
                </div>

                <div id="dialog" class="dialog-container">
                    <div class="dialog-content">
                        <span id="dialog-message"></span>
                        <button onclick="hideDialog()">Ok</button>
                    </div>
                </div>
                <div class="col-xl-12 mb-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-body-action-course">
                                <h1 class="header-title mt-0">Danh Sách Thương Hiệu</h1>
                                <div class="card-body-action-right">
                                    <div class="float-end">
                                        <button type="button" class="btn btn-success" data-toggle="modal"
                                            data-target="#myModal">
                                            Thêm Mới
                                        </button>

                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <label class="modal-title" id="exampleModalLabel">Thương
                                                            Hiệu</label>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="uploadForm">
                                                            <div class="form-group">
                                                                <label for="name">Tên Thương Hiệu</label>
                                                                <input type="text" class="form-control" id="name"
                                                                    placeholder="Nhập tên thương hiệu" name="name"
                                                                    required />
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="description">Mô Tả Thương Hiệu</label>
                                                                <textarea class="form-control" id="description" rows="3"
                                                                    placeholder="Nhập mô tả thương hiệu"
                                                                    name="description" required></textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="logo">Hình Ảnh</label>
                                                                <input type="file" class="form-control" id="logo"
                                                                    name="logo" accept="image/*">
                                                                <div class="image-preview" id="imagePreview"></div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" id="closeDialog"
                                                                    class="btn btn-secondary" data-dismiss="modal">
                                                                    Đóng
                                                                </button>
                                                                <button type="submit" class="btn btn-success"
                                                                    onclick="addBrand()">
                                                                    Thêm mới
                                                                </button></a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->

                <% listBrandData.brands.forEach((row)=> { %>
                    <!-- /.col -->
                    <div class="col-lg-12 d-none">
                        <p id="brandID">
                            <%= row._id %>
                        </p>
                    </div>
                    <div class="mb-4 col-md-3 col-sm-6 col-12">
                        <a href="/brand/detail-brands/<%= row._id %>" class="pe-auto text-decoration-none text-center" data-toggle="modal"
                            data-target="#brandModal<% row._id %>" onclick="fetchBrandData('<%= row._id %>')">
                            <div class="border border-5 p-2 rounded-4 bg-white">
                                <div class="text-center">
                                    <img src="<%= row.logo %>" alt="Product Brands" height="80" />
                                </div>
                                <div class="p-2">
                                    <span class="fs-4">
                                        <%= row.name %>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="modal fade" id="brandModal<% row._id %>" tabindex="-1" role="dialog"
                        aria-labelledby="brandModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="brandModalLabel">Chi Tiết Thương Hiệu</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="brandLogo">Logo Thương Hiệu</label>
                                            <div class="image-container" id="imageContainer">
                                                <!-- Hiển thị logo thương hiệu -->
                                                <img src="" alt="Brand Logo">
                                            </div>
                                            <input type="file" class="form-control" id="brandLogo" accept="image/*"
                                                style="display: none;">
                                        </div>
                                        <div class="form-group">
                                            <label for="brandName">Tên Thương Hiệu</label>
                                            <input type="text" class="form-control" id="brandName" value="" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label for="brandDescription">Mô Tả Thương Hiệu</label>
                                            <textarea class="form-control" id="brandDescription" rows="3"
                                                disabled></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                        id="closeButton">Close</button>
                                    <button type="button" class="btn btn-primary" id="editButton">Edit</button>
                                    <button type="button" class="btn btn-success" id="saveButton"
                                        style="display: none;">Save</button>
                                    <button type="button" class="btn btn-secondary" id="cancelButton"
                                        style="display: none;">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- content -->
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#editButton').on('click', function () {
            $(this).hide();
            $('#closeButton').hide();
            $('#saveButton').show();
            $('#cancelButton').show();
            $('#brandName, #brandDescription').prop('disabled', false);
            $('#brandLogo').show();
        });

        $('#cancelButton').on('click', function () {
            $(this).hide();
            $('#closeButton').show();
            $('#saveButton').hide();
            $('#editButton').show();
            $('#brandName, #brandDescription').prop('disabled', true);
            $('#brandLogo').hide();
        });

        $('#brandLogo').on('change', function () {
            const imageContainer = $('#imageContainer');
            imageContainer.empty();
            Array.from(this.files).forEach(file => {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = $('<img>').attr('src', e.target.result);
                    imageContainer.append(img);
                }
                reader.readAsDataURL(file);
            });
        });
    });
    document.getElementById('logo').addEventListener('change', function () {
        const imagePreview = document.getElementById('imagePreview');
        imagePreview.innerHTML = '';
        Array.from(this.files).forEach(file => {
            const reader = new FileReader();
            reader.onload = function (e) {
                const img = document.createElement('img');
                img.src = e.target.result;
                imagePreview.appendChild(img);
            }
            reader.readAsDataURL(file);
        });
    });
    const baseURL = window.location.protocol + "//" + window.location.host;
    let isSuccess = false;

    function loadBrandData() {
        fetch(`${baseURL}/brand/list-brands`)
            .then((response) => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then((data) => {
                console.log(`[web] loadBrandData -> ${JSON.stringify(data)}`);
                const listBrandData = data; // Dữ liệu thương hiệu trả về từ máy chủ
                const brandListContainer = document.getElementById("brandListContainer");
                brandListContainer.innerHTML = '';
                listBrandData.brands.forEach((row) => {
                    const brandElement = createBrandElement(row);
                    brandListContainer.appendChild(brandElement);
                });
            })
            .catch((error) => {
                console.error("Error:", error);
            });
    }

    function createBrandElement(brand) {
        console.log(`[web] createBrandElement -> start`);
        const brandElement = document.createElement("div");
        brandElement.classList.add("mb-4", "col-md-3", "col-sm-6", "col-12");

        const anchorElement = document.createElement("a");
        anchorElement.href = "#";
        anchorElement.classList.add("pe-auto", "text-decoration-none", "text-center");

        const brandContainer = document.createElement("div");
        brandContainer.classList.add("border", "border-5", "p-2", "rounded-4", "bg-white");

        const brandImageContainer = document.createElement("div");
        brandImageContainer.classList.add("text-center");

        const brandImage = document.createElement("img");
        brandImage.src = brand.logo;
        brandImage.alt = "Product Brands";
        brandImage.height = "80";

        const brandNameContainer = document.createElement("div");
        brandNameContainer.classList.add("p-2");

        const brandName = document.createElement("span");
        brandName.classList.add("fs-4");
        brandName.textContent = brand.name;

        brandImageContainer.appendChild(brandImage);
        brandNameContainer.appendChild(brandName);
        brandContainer.appendChild(brandImageContainer);
        brandContainer.appendChild(brandNameContainer);
        anchorElement.appendChild(brandContainer);
        brandElement.appendChild(anchorElement);

        return brandElement;
    }

    function addBrand() {
        const form = document.getElementById("uploadForm");
        const brandName = document.getElementById("name").value;
        const brandDescription = document.getElementById("description").value;
        const brandImage = document.getElementById("logo").files[0];

        const formData = new FormData();
        formData.append("name", brandName);
        formData.append("description", brandDescription);
        formData.append("file", brandImage);

        showLoading();

        fetch(`${baseURL}/brand/post-brands`, {
            method: "POST",
            body: formData,
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                loadBrandData()
                return response.json();
            })
            .then((body) => {
                isSuccess = true;
                hideLoading();
                showDialog(body.message);
                setTimeout(() => {
                location.reload();
                }, 1000);
            })
            .catch((error) => {
                isSuccess = false;
                hideLoading();
                showDialog("Lỗi: " + error.message);
                console.error("Error:", error);
            });
    }

    function showLoading() {
        document.getElementById("loading").style.display = "block";
    }

    function hideLoading() {
        document.getElementById("loading").style.display = "none";
    }

    function showDialog(message) {
        document.getElementById("dialog-message").textContent = message;
        document.getElementById("dialog").style.display = "block";
    }

    function hideDialog() {
        document.getElementById("dialog").style.display = "none";
        if (isSuccess) {
            isSuccess = false;
        }
    }
</script>
<script>
    function fetchBrandData(idBrand) {
        console.log(`[web] detailBrand: brandID -> ${idBrand}`);
        fetch(`/brand/detail-brands/${idBrand}`, {
                method: "GET", 
                headers: {
                    'Content-Type': 'application/json'} 
            })
            .then((response) => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                console.log(`[web] detailBrand: data -> ${JSON.stringify(data)}`);
                const modal = document.getElementById(`brandModal${idBrand}`);
                const brandNameInput = modal.querySelector('#brandName');
                const brandDescriptionTextarea = modal.querySelector('#brandDescription');

                // Đặt giá trị vào các thẻ tương ứng trong modal
                brandNameInput.value = data.name;
                brandDescriptionTextarea.value = data.description;
            })
            .catch(error => {
                console.error('Error fetching brand data:', error);
            });
    }
</script>